.container {
  border-radius: 12px;
  width: 300px;

  .messageContainer {
    display: flex;
    gap: 1rem;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    h4 {
      color: var(--color-text-primary);
    }
    p {
      color: var(--color-text-secondary);
    }
  }
}

.Toastify__close-button {
  padding: 8px;
  margin-left: 10px;
  align-self: flex-start;
  svg {
    position: absolute;
    right: 12px;
    top: 50px !important;
  }
}
