.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.cancelAction {
  flex: 0 0 auto;
  min-width: 100px;
}

.saveAction {
  flex: 1;
}
