@use '../../../assets/styles/variables';

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
  margin-bottom: 16px;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.titleSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.titleExtra {
  display: flex;
  align-items: center;
}

.title {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-bold);
  font-size: 20px;
  line-height: 1.2;
  color: var(--color-text-primary-500);
  margin: 0;
}

.subtitle {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
  font-size: 13px;
  line-height: 20px;
  color: var(--color-secondary);
  margin: 0;
}

.actions {
  display: flex;
  align-items: center;
  gap: 12px;
}
